<h2 style="color:red"><b>Assignment_1</h2>
<h4>1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.</h4>
*
'hello'
<h5>-87.8</h5>
-
/
+
6

*=expression<br>
'hello'=values<br>
-87.8=values<br>
-=expression<br>
/=expression<br>
+=expression<br>
6=values

<h4>2. What is the difference between string and variable?</h4>

ANS: STRING is a grup of latters where VARIABLE is a container that store valuse like number, charactor , boolean and float

<h4>3. Describe three different data types.</h4>
DATA TYPE: There are two types of Data Type<br>
1.Primitive Data Types:Integers, Character  ,Boolean, float<br>
2.Derived Data Types= Array, Pointer , Stack , Queue,union

<h4>4. What is an expression made up of? What do all expressions do?</h4>
ANS: An expression is an arrangement of values and operators which are evaluated
to make a new value.expression used in interactive mode is evaluated by
the interpreter and result is displayed instantly

<h4>5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?</h4>
ANS:Assignment(=) Assigns values from rightside operands to left side operand, in above example spam=10 means spam have assingn the value which is equal to 10.<br>
Where Expression is define the arrangment of all operatiors.

<h4>6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1</h4>

In [1]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?<br>
&#39;spam&#39; + &#39;spamspam&#39;<br>
&#39;spam&#39; * 3

In [2]:
'spam'+'spamspam'
'spam'*3

'spamspamspam'

<h4>8. Why is eggs a valid variable name while 100 is invalid?</h4>
ANS:Variable names can be arbitrarily long. They can contain both letters and
numbers, but they cannot start with a number.

<H4>9. What three functions can be used to get the integer, floating-point number, or string
version of a value?</H4>
ANS:The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

<h4>10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;</h4>
ANS: We are trying to add string data type with int data type . so its showing error.
we can only add same time of data type

In [6]:
'i have eaten'+' 99 '+'burritos'#here i change 99 as string data type

'i have eaten 99 burritos'